html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303C49;
  color: red;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 100%;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  background: white;
  white-space: nowrap;
  border: none;
  color: #303C49;
  height: 60px;
}

button:hover {
  background-color: #a1a1a1;
}

.placeholder {
  background-color: #303C49;
  cursor: default;
}

.placeholder:hover {
  background-color: #303C49;
}

.clicked {
  background-color: #bfbfbf;
  outline-width: 4px;
  outline-style: solid;
  outline-color: red;
}

.hidden {
  display: none;
}

/* top bar */
.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  background-color: white;
  padding: 0 2%;
}

.top-button-bar {
  display: flex;
  gap: 1%;
  margin-left: 0%;
  padding-right: 5%;
}

.top-bar-button {
  border-radius: 999px;
  height: 70%;
  font-size: 2vw;
  font-weight: 600;
  padding: 0 2%;
  text-overflow: ellipsis;
}

.top-bar-button:hover {
  background-color: #bfbfbf;
}

.man-logo {
  height: 120%;
  width: auto;
}

/* middle buttons */
.center-buttons {
  flex: 1;
  display: flex;
  padding: 2%;
  gap: 2%;
}

.mechanic-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4%;
  width: 80%;
}

.right-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4%;
  width: 20%;
}

.middle-button {
  border-radius: 999px;
  font-size: 1.5vw;
  font-weight: bold;
  overflow: hidden;
}

/* bottom bar */
.bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 5%;
  padding: 0 2%;
  box-sizing: border-box;
}

.file-picker {
  height: 75%;
  width: 100%;
  font-size: 4vw;
  font-weight: 600;
}

.choosen-file-picker {
  height: 75%;
  width: 100%;
  font-size: 4vw;
  font-weight: 600;
  outline-width: 4px;
  outline-style: solid;
  outline-color: red;
  background-color: #bfbfbf;
}

.truck {
  height: 90%;
  margin-right: 4%;
  align-self: flex-end;
}

.drive-animation {
  position: relative;
  animation-name: truck_move_animation;
  animation-duration: 4s;

}

@keyframes truck_move_animation {
  0% {
    left: 0px;
  }

  50% {
    left: 500px;
  }

  100% {
    left: 0px;
  }
}

.truck:hover {
  filter: brightness(70%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-window {
  background-color: #303C49;
  position: fixed;
  height: 75%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.close-button:hover {
  background-color: red;
  color: white;
}


.overlay-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.password-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 10%;
}

.password-input {
  background-color: white;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  width: 80%;
  flex: 1;
  padding-left: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #303C49;
  font-size: large;
  font-weight: bold;
}

.password-input::placeholder {
  font-size: large;
  font-weight: bold;
}

.password-check-button {
  background-color: white;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  width: 30%;
  flex: 1;
  padding-left: 10px;
  margin-bottom: 10%;
  color: #303C49;
  font-size: large;
  font-weight: bold;
}

.feedback-input {
  background-color: white;
  box-shadow: none;
  border: none;
  outline: none;
  height: 68%;
  width: 90%;
  padding-left: 20px;
  padding-top: 20px;
  color: #303C49;
  font-size: medium;
  font-weight: bold;
  vertical-align: top;
  resize: none;
}

.feedback-input::placeholder {
  font-size: large;
  font-weight: bold;
}


.feedback-send-button {
  background-color: white;
  color: #303C49;
  font-size: large;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 60px;
  width: 500px;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
}

.feedback-send-message {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 29px;
}

.manual-text {
  color: white;
  width: 80%;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.other-mail-buttons {
  width: 1000px;
  height: 350px;
  padding: 10px;
  overflow-y: auto;
}

.other-mail-button-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.other-mail-input-field {
  background-color: white;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 60px;
  flex: 1;
  padding-left: 20px;
  color: #303C49;
  font-size: large;
  font-weight: bold;
}

.other-mail-input-field::placeholder {
  font-size: large;
  font-weight: bold;
}

.remove-button {
  background-color: white;
  color: #303C49;
  font-size: large;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 60px;
  width: 150px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;

}

.remove-button:hover {
  background-color: red;
  color: white;
}

.bottom-button-row {
  padding-top: 15px;
  display: flex;
  gap: 30px;
}

.add-button {
  background-color: white;
  color: #303C49;
  font-size: large;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 60px;
  width: 1010px;
  cursor: pointer;
  font-weight: bold;
}

.bottom-part-settings-buttons {
  flex: 1;
  display: flex;
  height: 90%;
  margin-bottom: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
}

.bottom-part-settings-names {
  flex: 1;
  display: flex;
  height: 90%;
  margin-bottom: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

}


.settings-bottom-button {
  background-color: white;
  color: #303C49;
  font-size: large;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 60px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.settings-bottom-input {
  background-color: white;
  color: #303C49;
  font-size: large;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 70px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  padding: 5%;
}

.settings-bottom-input:hover {
  cursor: text;
}

.settings-bottom-text {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  white-space: nowrap;
}

.close:hover {
  color: white;
  background-color: red;
}

.save:hover {
  background-color: greenyellow;
}

.middle-top {
  z-index: 10;
}

.most-top {
  z-index: 20;
}

.config-row-section {
  width: 1000px;
  height: 350px;
  padding: 10px;
  overflow-y: auto;
}

.config-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.save-config {
  background-color: white;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  width: 450px;
  flex: 1;
  padding-left: 10px;
  margin-bottom: 10%;
  color: #303C49;
  font-size: large;
  font-weight: bold;
}

.config-row-title {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
}

.config-row-input-field {
  background-color: white;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  height: 60px;
  width: 50px;
  flex: 1;
  padding-left: 20px;
  color: #303C49;
  font-size: large;
  font-weight: bold;
  max-width: 700px;
  margin-left: auto;
}

.mail-warning-rows-section {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 1000px;
  overflow-y: auto;
  align-items: center;
  gap: 4px;
}

.mail-warning-row {
  color: red;
  text-align: left;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

.discard-overlay-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 10%;
}


.discard-overlay-back {
  background-color: white;
  color: #303C49;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  width: 40%;
  padding-left: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: larger;
  font-weight: bold;

}

.discard-overlay-discard {
  background-color: white;
  color: #303C49;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 999px;
  width: 20%;
  padding-left: 10px;
  margin-bottom: 10%;
  font-size: large;
  font-weight: bold;

}

.invalid-password {
  outline-width: 5px;
  outline-style: solid;
  outline-color: red;
}

.invalid-password-title {
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 12%;
  position: fixed;
}